<!-- cart_detail.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link  rel="stylesheet" href= {% static 'css/my_styles.css' %}>
</head>
<body>
    <h1>Your Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>${{ item.product.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.product.price|multiply:item.quantity }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td>${{ total_price }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
