{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html>
<head>
    <link  rel="stylesheet" href= {% static 'css/my_styles.css' %}>
    <title>Home</title>
    <style>
        body{
            background-image: url(static/images/coffee4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            z-index: -1;
        }
    </style>
</head>
<body>
    <h1>Welcome to the A.V. Cafe</h1>
    <p>This is the home page.</p>
    <a href="{% url 'coffee_list' %}">Coffees</a>
    <a href="{% url 'tea_list' %}">Teas</a>
    <a href="{% url 'kids_list' %}">Kids Drinks</a>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}"><button>Login</button></a>
        <a href="{% url 'register' %}"><button>Sign Up</button></a>
    {% endif %}
    <a href="{% url 'cart_detail' %}" class="cart-button">View Cart</a>

    {% block content %}
    {% endblock %}

</body>
</html>
