
body {
    background-color: lemonchiffon;
}

td {
    border: 2px, solid black;
    border-collapse: collapse;
}
/* Container for Images */
.image-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0; /* Adjusted margin */
}
/* Heading Style */
.heading {
    color: rgb(2, 14, 251);
    padding: 5px;
    display: inline;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

p {
    font-weight: bold; /* Set font weight to bold */
    text-align: center; /* Center align the paragraph */
    margin-top: 10px; /* Add some top margin for spacing */
    color: rgb(0, 0, 0); /* Text color */
    padding: 5px; /* Increased padding */
    display: inline-block; /* Display as inline-block for centered alignment */
    background-color: rgba(209, 221, 217, 0.5); /* Background color with opacity */
    border-radius: 5px;
}

