/* General Heading Style */
h1 {
    font-family: "Lucida Grande", "Courier New", monospace;
    color: chartreuse;
    background-color: rgba(161, 166, 158, 0.5);
    text-align: center;
    font-size: xx-large; /* Increased font size */
    font-weight: normal;
    padding: 20px; /* Increased padding for better spacing */
    margin: 0; /* Removed default margin */
    border-radius: 5px;
}

/* Paragraph Style */
p {
    font-weight: bold; /* Set font weight to bold */
    text-align: center; /* Center align the paragraph */
    margin-top: 10px; /* Add some top margin for spacing */
    color: rgb(0, 0, 0); /* Text color */
    padding: 5px; /* Increased padding */
    display: inline-block; /* Display as inline-block for centered alignment */
    background-color: rgba(209, 221, 217, 0.5); /* Background color with opacity */
    border-radius: 5px;
}

/* Container for centering */
.container {
    text-align: center; /* Center align content inside container */
}

/* Container for Images */
.image-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0; /* Adjusted margin */
}

/* Small Images */
.image-small {
    width: 2in; /* Adjusted width */
    height: 2in;
    margin-top: 10px; /* Adjusted margin */
    opacity: 0.90;
}

/* Heading Style */
.heading {
    color: rgb(2, 14, 251);
    padding: 5px;
    display: inline;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

/* Borders */
.border {
    border: 5px solid #07bbf2;
    background-color: rgba(10, 10, 10, 0.5);
}

/* Table Styles */
.mytable {
    color: black;
    background-color: rgb(71, 151, 177);
    border: 1px solid black;
    width: 100%;
}

.mylink {
    color: #02e8fd;
    background-color: rgba(255, 167, 0, 0.27);
    border: 1px solid rgba(227, 134, 10, 0.23);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    padding: 10px; /* Increased padding for better spacing */
    margin: 0; /* Removed default margin */
    border-radius: 5px;
}

/* Colorful Div */
.mycolour {
    color: rgb(0, 132, 121);
    background-color: rgb(196, 247, 248);
    padding: 10px; /* Added padding */
    text-align: center;
}

/* Darker Colorful Div */
.mycolour1 {
    color: #000000;
    background-color: rgba(244, 236, 236, 0.32);
    border: 1px solid rgba(246, 246, 246, 0.23);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    padding: 10px; /* Increased padding for better spacing */
    margin: 0; /* Removed default margin */
    border-radius: 5px;
}

.homepage {
    background-image: url(static/images/coffee4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}