h1 {
    font-family:"Lucida Grande", "Courier New", monospace;
    color: chartreuse;
    background-color: rgba(161, 166, 158, 0.5);
    text-align: center;
    font-size: x-large;
    display: inline;
    font-weight: normal;
}

body {
    background-image: url("mycafe/static/images/coffee3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.image-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.image-small {
    width:30%;
    height:auto;
    align-items: center;
}

.menu-section {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
}

.menu-section h2 {
    color: #4CAF50;
}

.menu-section ul {
    list-style-type: none;
    padding: 0;
}

.menu-section ul li {
    margin: 5px 0;
}

.menu-section ul li a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.menu-section ul li a:hover {
    color: #4CAF50;
}

.hidden {
    display: none;
}