{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>Kid's Drink Menu</title>
</head>
<body>
    <h1>Kid's Drink Menu</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form>

    <ul>
        {% for kid in kids %}
            <li>
                <h2>{{ kids.get_drink_kids_display }}</h2>
                <p>Size: {{ kids.get_drink_size_display }}</p>
                <p>Flavor: {{ kids.get_drink_kids_flavor_display }}</p>
                <p>Temperature: {{ kids.get_drink_temp_display }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
