{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link  rel="stylesheet" href= {% static 'css/my_styles.css' %}>
</head>
<body>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
        <p><strong>Don't have an account?</strong>
            <a href="{% url 'register' %}"> Sign Up Now</a>
        </p>
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
    </form>
</body>
</html>

