{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<!DOCTYPE html>
<html>
<head>
    <title>Tea Menu</title>
</head>
<body>
    <h1>Tea Menu</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form>

    <ul>
        {% for tea in teas %}
            <li>
                <h2>{{ tea.get_drink_tea_display }}</h2>
                <p>Size: {{ tea.get_drink_size_display }}</p>
                <p>Flavor: {{ tea.get_drink_tea_syrup_display }}</p>
                <p>Temperature: {{ tea.get_drink_temp_display }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
